@using exampleProject.Core.Entities
@using exampleProject.Web.ViewModels
@model DashboardViewModel
@{
    ViewData["Title"] = "Kategori Listesi";
}

<html lang="tr">
<head>
    <meta charset="utf-8" />
    <!--begin::Fonts-->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@@fontsource/source-sans-3@5.0.12/index.css"
          integrity="sha256-tXJfXfp6Ewt1ilPzLDtQnJV4hclT9XuaZUKyUvmyr+Q="
          crossorigin="anonymous"
          media="print"
          onload="this.media = 'all'" />
    <!--end::Fonts-->
    <!--begin::Third Party Plugin(OverlayScrollbars)-->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.11.0/styles/overlayscrollbars.min.css"
          crossorigin="anonymous" />
    <!--end::Third Party Plugin(OverlayScrollbars)-->
    <!--begin::Third Party Plugin(Bootstrap Icons)-->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
          crossorigin="anonymous" />
    <!--end::Third Party Plugin(Bootstrap Icons)-->
    <!--begin::Required Plugin(AdminLTE)-->
    <link rel="stylesheet" href="../css/adminlte.css" />
    <!--end::Required Plugin(AdminLTE)-->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/tabulator-tables@6.4.0/dist/css/tabulator_bootstrap5.min.css"
          crossorigin="anonymous" />
</head>
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <div class="app-wrapper">
        <!--end::Sidebar-->
        <main class="app-main">
                <div class="app-content-header">
                    <!--begin::Container-->
                    <div class="container-fluid">
                        <!--begin::Row-->
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 class="mb-0">Kontrol Paneli</h3>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-end">
                                    <li class="breadcrumb-item"><a asp-area="Index">Ana Sayfa</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Kontrol Paneli</li>
                                </ol>
                            </div>
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::App Content Header-->
                <!--begin::App Content-->
                <div class="app-content">
                    <!--begin::Container-->
                    <div class="container-fluid">
                        <!--begin::Row-->
                        <div class="row">
                            <!--begin::Col-->
                            <div class="col-lg-3 col-6">
                                <!--begin::Small Box Widget 1-->
                                <div class="small-box text-bg-primary">
                                    <div class="inner">
                                        <h3>150</h3>

                                        <p>Yeni Sipariş</p>
                                    </div>
                                    <svg class="small-box-icon"
                                         fill="currentColor"
                                         viewBox="0 0 24 24"
                                         aria-hidden="true">
                                        <path d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z"></path>
                                    </svg>
                                    <a href="#"
                                       class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                                        Daha Fazla Bilgi <i class="bi bi-link-45deg"></i>
                                    </a>
                                </div>
                                <!--end::Small Box Widget 1-->
                            </div>
                            <!--end::Col-->
                            <div class="col-lg-3 col-6">
                                <!--begin::Small Box Widget 2-->
                                <div class="small-box text-bg-success">
                                    <div class="inner">
                                        <h3>53<sup class="fs-5">%</sup></h3>

                                        <p>Geri Dönüş Oranı</p>
                                    </div>
                                    <svg class="small-box-icon"
                                         fill="currentColor"
                                         viewBox="0 0 24 24"
                                         aria-hidden="true">
                                        <path d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75zM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 01-1.875-1.875V8.625zM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 013 19.875v-6.75z"></path>
                                    </svg>
                                    <a href="#"
                                       class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                                        Daha Fazla Bilgi <i class="bi bi-link-45deg"></i>
                                    </a>
                                </div>
                                <!--end::Small Box Widget 2-->
                            </div>
                            <!--end::Col-->
                            <div class="col-lg-3 col-6">
                                <!--begin::Small Box Widget 3-->
                                <div class="small-box text-bg-warning">
                                    <div class="inner">
                                        <h3>44</h3>

                                        <p>Kayıtlı Kullanıcı</p>
                                    </div>
                                    <svg class="small-box-icon"
                                         fill="currentColor"
                                         viewBox="0 0 24 24"
                                         aria-hidden="true">
                                        <path d="M6.25 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM3.25 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM19.75 7.5a.75.75 0 00-1.5 0v2.25H16a.75.75 0 000 1.5h2.25v2.25a.75.75 0 001.5 0v-2.25H22a.75.75 0 000-1.5h-2.25V7.5z"></path>
                                    </svg>
                                    <a href="#"
                                       class="small-box-footer link-dark link-underline-opacity-0 link-underline-opacity-50-hover">
                                        Daha Fazla Bilgi <i class="bi bi-link-45deg"></i>
                                    </a>
                                </div>
                                <!--end::Small Box Widget 3-->
                            </div>
                            <!--end::Col-->
                            <div class="col-lg-3 col-6">
                                <!--begin::Small Box Widget 4-->
                                <div class="small-box text-bg-danger">
                                    <div class="inner">
                                        <h3>65</h3>

                                        <p>Sayfa Ziyareti</p>
                                    </div>
                                    <svg class="small-box-icon"
                                         fill="currentColor"
                                         viewBox="0 0 24 24"
                                         aria-hidden="true">
                                        <path clip-rule="evenodd"
                                              fill-rule="evenodd"
                                              d="M2.25 13.5a8.25 8.25 0 018.25-8.25.75.75 0 01.75.75v6.75H18a.75.75 0 01.75.75 8.25 8.25 0 01-16.5 0z"></path>
                                        <path clip-rule="evenodd"
                                              fill-rule="evenodd"
                                              d="M12.75 3a.75.75 0 01.75-.75 8.25 8.25 0 018.25 8.25.75.75 0 01-.75.75h-7.5a.75.75 0 01-.75-.75V3z"></path>
                                    </svg>
                                    <a href="#"
                                       class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                                        Daha Fazla Bilgi <i class="bi bi-link-45deg"></i>
                                    </a>
                                </div>
                                <!--end::Small Box Widget 4-->
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->
                        <!--begin::Row-->
                        <div class="row">
                            <!-- Start col -->
                            <div class="col-lg-7 connectedSortable">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <h3 class="card-title">Satış Değerleri</h3>
                                    </div>

                                    <div class="card-body">
                                        <div id="revenue-chart"></div>
                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.Start col -->
                            <!-- Start col -->
                            <div class="col-lg-5 connectedSortable">
                                <div class="card text-white bg-primary bg-gradient border-primary mb-4">
                                    <div class="card-header border-0">
                                    <h3 class="card-title">Ülkelere Göre Satış Değerleri</h3>
                                        <div class="card-tools">
                                            <button type="button"
                                                    class="btn btn-primary btn-sm"
                                                    data-lte-toggle="card-collapse">
                                                <i data-lte-icon="expand" class="bi bi-plus-lg"></i>
                                                <i data-lte-icon="collapse" class="bi bi-dash-lg"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="world-map" style="height: 220px"></div>
                                    </div>
                                    <div class="card-footer border-0">
                                        <!--begin::Row-->
                                        <div class="row">
                                            <div class="col-4 text-center">
                                                <div id="sparkline-1" class="text-dark"></div>
                                                <div class="text-white">Ziyareçiler</div>
                                            </div>
                                            <div class="col-4 text-center">
                                                <div id="sparkline-2" class="text-dark"></div>
                                                <div class="text-white">Aktif</div>
                                            </div>
                                            <div class="col-4 text-center">
                                                <div id="sparkline-3" class="text-dark"></div>
                                                <div class="text-white">Satışlar</div>
                                            </div>
                                        </div>
                                        <!--end::Row-->
                                    </div>
                                </div>
                            </div>
                            <!-- /.Start col -->
                        </div>
                        <!-- /.row (main row) -->
                    </div>
                    <!--end::Container-->
                </div>



            <div class="app-content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="mb-0">Kategori Yönetimi</h3>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-end">
                                <li class="breadcrumb-item"><a asp-area="Index">Yönetim Paneli</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Kategoriler</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Kategori Listesi</h3>
                            <div class="card-tools d-flex gap-2 align-items-center">
                                <button class="btn btn-primary btn-sm me-2">
                                    <i class="bi bi-plus-lg"></i> Yeni Kategori
                                </button>
                                <div class="input-group input-group-sm" style="width: 16rem">
                                    <span class="input-group-text">
                                        <i class="bi bi-search" aria-hidden="true"></i>
                                    </span>
                                    <input id="table-filter"
                                           type="search"
                                           class="form-control"
                                           placeholder="Kategorilerde ara..."
                                           aria-label="Filter rows" />
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex gap-2 mb-3">
                                <button id="export-csv" type="button" class="btn btn-sm btn-outline-secondary">
                                    <i class="bi bi-filetype-csv me-1" aria-hidden="true"></i>
                                    CSV Dışa Aktar
                                </button>
                                <button id="export-json" type="button" class="btn btn-sm btn-outline-secondary">
                                    <i class="bi bi-filetype-json me-1" aria-hidden="true"></i>
                                    JSON Dışa Aktar
                                </button>
                                <button id="print-table" type="button" class="btn btn-sm btn-outline-secondary">
                                    <i class="bi bi-printer me-1" aria-hidden="true"></i>
                                    Yazdır
                                </button>
                            </div>
                            <div id="categories-table"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="app-content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="mb-0">Mağaza Yönetimi</h3>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-end">
                                <li class="breadcrumb-item"><a asp-area="Index">Yönetim Paneli</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Mağazalar</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Mağaza Listesi</h3>
                            <div class="card-tools d-flex gap-2 align-items-center">
                                <button class="btn btn-primary btn-sm me-2">
                                    <i class="bi bi-plus-lg"></i> Yeni Mağaza
                                </button>
                                <div class="input-group input-group-sm" style="width: 16rem">
                                    <span class="input-group-text">
                                        <i class="bi bi-search" aria-hidden="true"></i>
                                    </span>
                                    <input id="table-filter"
                                           type="search"
                                           class="form-control"
                                           placeholder="Mağazalarda ara..."
                                           aria-label="Filter rows" />
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex gap-2 mb-3">
                                <button id="export-csv" type="button" class="btn btn-sm btn-outline-secondary">
                                    <i class="bi bi-filetype-csv me-1" aria-hidden="true"></i>
                                    CSV Dışa Aktar
                                </button>
                                <button id="export-json" type="button" class="btn btn-sm btn-outline-secondary">
                                    <i class="bi bi-filetype-json me-1" aria-hidden="true"></i>
                                    JSON Dışa Aktar
                                </button>
                                <button id="print-table" type="button" class="btn btn-sm btn-outline-secondary">
                                    <i class="bi bi-printer me-1" aria-hidden="true"></i>
                                    Yazdır
                                </button>
                            </div>
                            <div id="stores-table"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- Scriptler -->
    <script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.11.0/browser/overlayscrollbars.browser.es6.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.8/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="../js/adminlte.js"></script>

    <!-- OverlayScrollbars & Theme Config Kısmı (Aynen Korundu) -->
    <script>
        const SELECTOR_SIDEBAR_WRAPPER = '.sidebar-wrapper';
        const Default = { scrollbarTheme: 'os-theme-light', scrollbarAutoHide: 'leave', scrollbarClickScroll: true };
        document.addEventListener('DOMContentLoaded', function () {
        const sidebarWrapper = document.querySelector(SELECTOR_SIDEBAR_WRAPPER);
        const isMobile = window.innerWidth <= 992;
        if (sidebarWrapper && OverlayScrollbarsGlobal?.OverlayScrollbars !== undefined && !isMobile) {
        OverlayScrollbarsGlobal.OverlayScrollbars(sidebarWrapper, {
        scrollbars: { theme: Default.scrollbarTheme, autoHide: Default.scrollbarAutoHide, clickScroll: Default.scrollbarClickScroll },
        });
        }
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/tabulator-tables@6.4.0/dist/js/tabulator.min.js" crossorigin="anonymous"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
        // 1. Razor Model verisini JavaScript dizisine dönüştürüyoruz
        const tableData2 = [
        @foreach (var item in Model.Stores)
        {
            <text>
                {
                id: @item.Id,
                name: "@Html.Raw(item.Name)",
                description: "@Html.Raw(item.Description)",
                isActive: @(item.IsActive ? "true" : "false"),
                createdDate: "@item.CreatedDate.ToShortDateString()"
                },
            </text>
        }
        ];

        // 2. Durum Sütunu için Badge Oluşturucu (Bootstrap 5 text-bg-* yapısı)
        const statusFormatter = (cell) => {
        const isActive = cell.getValue();
        const badgeClass = isActive ? 'success' : 'danger';
        const badgeText = isActive ? 'Aktif' : 'Pasif';
        return `<span class="badge text-bg-${badgeClass}">${badgeText}</span>`;
        };

        // 3. İşlemler Sütunu için Buton Oluşturucu
        const actionsFormatter = (cell) => {
        const id = cell.getData().id;
        return `
        <button class="btn btn-info btn-sm me-1" onclick="editCategory(${id})"><i class="bi bi-pencil-square"></i> Düzenle</button>
        <button class="btn btn-danger btn-sm" onclick="deleteCategory(${id})"><i class="bi bi-trash"></i> Sil</button>
        `;
        };

        // 4. Tabulator Tanımlaması
        const table2 = new Tabulator("#stores-table", {
        data: tableData2,
        layout: "fitColumns",
        responsiveLayout: "hide",
        pagination: "local",
        paginationSize: 10,
        columns: [
        { title: "ID", field: "id", width: 70, sorter: "number" },
        { title: "Kategori Adı", field: "name", sorter: "string", formatter: (cell) => `<strong>${cell.getValue()}</strong>` },
        { title: "Açıklama", field: "description", sorter: "string" },
        { title: "Durum", field: "isActive", halign: "center", align: "center", formatter: statusFormatter },
        { title: "Kayıt Tarihi", field: "createdDate", sorter: "date" },
        { title: "İşlemler", field: "actions", download: false, headerSort: false, formatter: actionsFormatter, width: 180 }
        ]
        });

        // 5. Arama Filtresi Fonksiyonu
        document.getElementById('table-filter').addEventListener('input', (e) => {
        const value = e.target.value;
        table.setFilter([
        [
        { field: "name", type: "like", value: value },
        { field: "description", type: "like", value: value }
        ]
        ]);
        });

        // 6. Dışa Aktarma ve Yazdırma Butonları
        document.getElementById('export-csv').addEventListener('click', () => table.download('csv', 'kategoriler.csv'));
        document.getElementById('export-json').addEventListener('click', () => table.download('json', 'kategoriler.json'));
        document.getElementById('print-table').addEventListener('click', () => table.print(false, true));
        });

        // Buton tıklama fonksiyonları (İhtiyacınıza göre içlerini doldurabilirsiniz)
        function editCategory(id) {
        console.log("Düzenlenecek Kategori ID:", id);
        // window.location.href = "/Category/Edit/" + id;
        }

        function deleteCategory(id) {
        if(confirm("Bu kategoriyi silmek istediğinize emin misiniz?")) {
        console.log("Silinecek Kategori ID:", id);
        // Ajax veya yönlendirme kodunuz
        }
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
        // 1. Razor Model verisini JavaScript dizisine dönüştürüyoruz
        const tableData = [
        @foreach (var item in Model.Categories)
        {
            <text>
                {
                id: @item.Id,
                name: "@Html.Raw(item.Name)",
                description: "@Html.Raw(item.Description)",
                isActive: @(item.IsActive ? "true" : "false"),
                createdDate: "@item.CreatedDate.ToShortDateString()"
                },
            </text>
        }
        ];

        // 2. Durum Sütunu için Badge Oluşturucu (Bootstrap 5 text-bg-* yapısı)
        const statusFormatter = (cell) => {
        const isActive = cell.getValue();
        const badgeClass = isActive ? 'success' : 'danger';
        const badgeText = isActive ? 'Aktif' : 'Pasif';
        return `<span class="badge text-bg-${badgeClass}">${badgeText}</span>`;
        };

        // 3. İşlemler Sütunu için Buton Oluşturucu
        const actionsFormatter = (cell) => {
        const id = cell.getData().id;
        return `
        <button class="btn btn-info btn-sm me-1" onclick="editCategory(${id})"><i class="bi bi-pencil-square"></i> Düzenle</button>
        <button class="btn btn-danger btn-sm" onclick="deleteCategory(${id})"><i class="bi bi-trash"></i> Sil</button>
        `;
        };

        // 4. Tabulator Tanımlaması
        const table = new Tabulator("#categories-table", {
        data: tableData,
        layout: "fitColumns",
        responsiveLayout: "hide",
        pagination: "local",
        paginationSize: 10,
        columns: [
        { title: "ID", field: "id", width: 70, sorter: "number" },
        { title: "Kategori Adı", field: "name", sorter: "string", formatter: (cell) => `<strong>${cell.getValue()}</strong>` },
        { title: "Açıklama", field: "description", sorter: "string" },
        { title: "Durum", field: "isActive", halign: "center", align: "center", formatter: statusFormatter },
        { title: "Kayıt Tarihi", field: "createdDate", sorter: "date" },
        { title: "İşlemler", field: "actions", download: false, headerSort: false, formatter: actionsFormatter, width: 180 }
        ]
        });

        // 5. Arama Filtresi Fonksiyonu
        document.getElementById('table-filter').addEventListener('input', (e) => {
        const value = e.target.value;
        table.setFilter([
        [
        { field: "name", type: "like", value: value },
        { field: "description", type: "like", value: value }
        ]
        ]);
        });

        // 6. Dışa Aktarma ve Yazdırma Butonları
        document.getElementById('export-csv').addEventListener('click', () => table.download('csv', 'kategoriler.csv'));
        document.getElementById('export-json').addEventListener('click', () => table.download('json', 'kategoriler.json'));
        document.getElementById('print-table').addEventListener('click', () => table.print(false, true));
        });

        // Buton tıklama fonksiyonları (İhtiyacınıza göre içlerini doldurabilirsiniz)
        function editCategory(id) {
        console.log("Düzenlenecek Kategori ID:", id);
        // window.location.href = "/Category/Edit/" + id;
        }

        function deleteCategory(id) {
        if(confirm("Bu kategoriyi silmek istediğinize emin misiniz?")) {
        console.log("Silinecek Kategori ID:", id);
        // Ajax veya yönlendirme kodunuz
        }
        }
    </script>
</body>
</html>